/**
 * Use relative root path for imports.
 * @import "./partials/module/index.pcss"; -> false
 * @import "./module/index.pcss"; -> true
 */

@import "./base.pcss";
@import "./overview/index.pcss";
@import "./overview/menu/index.pcss";
@import "./overview/headline/index.pcss";
@import "./overview/toggle/index.pcss";
@import "./overview/content/index.pcss";
@import "./overlay-message/index.pcss";
@import "./doc-template/index.pcss";
@import "./accordeon/index.pcss";
