---
message: 'Repudiandae et, consectetuer tortor, mus pariatur rhoncus ratione, ullam imperdiet ipsa.'
---
<div class="partial" data-package="agency-pkg-docs" data-partial="elements/large-message">

  <div>
    {{{message}}}
  </div>

</div>
