---
message: 'Click on <span class="highlight">Show / Hide</span> to you display an overview of all templates.<br />Click on <span class="highlight">Template</span> for show.'
---
<div class="partial" data-package="agency-pkg-docs" data-partial="elements/overlay-message">

  <div>
    {{{message}}}
  </div>

</div>
