---
message: 'Click on <span class="highlight icon-small-burger"></span> to you display the <br />Click on <span class="highlight">Template name</span> for show. Use <span class="highlight">ext.</span> for open a new tab.'
---
<div class="partial" data-package="agency-pkg-docs" data-partial="elements/overlay-message">

  <div>
    {{{message}}}
  </div>

</div>
