---
config:
  show-menu: false
---
<div class="partial controller" data-package="agency-pkg-docs" data-partial="components/overview" data-controller="agency-pkg-docs/partials/components/Overview"{{#each config}} data-{{{@key}}}="{{{this}}}"{{/each}}>

  {{#block "menu"}}
      {{{mixin "agency-pkg-docs/fragments/menu"}}}
  {{/block}}

  {{#block "content"}}
      {{{mixin "agency-pkg-docs/fragments/content"}}}
  {{/block}}

</div>
