---
config:
  show-menu: false
  show-overlay: true
---
<div class="partial controller" data-package="agency-pkg-docs" data-partial="components/overview" data-controller="agency-pkg-docs/partials/components/Overview" {{#each config}} data-{{{@key}}}="{{{this}}}"{{/each}}>

  {{#block "menu"}}
    {{{mixin "agency-pkg-docs/fragments/menu" menu target=".partial[data-partial=\"components/overview\"]"}}}
  {{/block}}

  {{#block "content"}}
    {{{mixin "agency-pkg-docs/fragments/content" content target=".partial[data-partial=\"components/overview\"]"}}}
  {{/block}}

</div>
