.partial[data-package="agency-pkg-docs"][data-partial="elements/menu/headline"] {
  letter-spacing: 1px;
  font-size: calc(14 / 16)em;
  margin: calc(16 / 16)em 0;
  padding: 0 calc(8 / 16)em;
  text-shadow: 0 0 1px #ffffff;
}
