---
name: 'doc-content'
---
<div class="partial controller" data-package="agency-pkg-docs" data-partial="fragments/content" data-controller="agency-pkg-docs/partials/fragments/Content" data-target="[data-package='agency-pkg-docs'][data-partial='components/overview']">
  <iframe name="{{{name}}}" frameborder="0">iframe is not supported</iframe>
  {{{mixin "agency-pkg-docs/elements/overlay-message"}}}

</div>
