@import "../../src/common/variables.pcss";
@import "../../src/overview/index.pcss";
@import "../../src/overview/menu/index.pcss";
@import "../../src/overview/menu/headline/index.pcss";
@import "../../src/overview/menu/toggle/index.pcss";
@import "../../src/overview/content/index.pcss";
@import "../../src/overlay-message/index.pcss";
@import "../../src/doc-template/index.pcss";
@import "../../src/accordeon/index.pcss";
@import "../../src/accordeon/external/index.pcss";
@import "../../src/accordeon/label/index.pcss";
@import "../../src/accordeon/menu/index.pcss";

html.agency-pkg-docs-overview {
  &, body {
    margin: 0;
    height: 100%;
  }
}
