@import "../../generated/pcss/purecss/base.css";
@import "../../generated/pcss/purecss/grids-core.css";
@import "../../generated/pcss/purecss/custom-grid.css";
@import "../../generated/pcss/purecss/custom-grid-offset.css";

@import "./common/variables.pcss";
@import "./partials.pcss";

html, body {
  height: 100%;
}
